---
import BaseLayout from "../layouts/BaseLayout.astro";
import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
  title="About | Tom Hester"
  description="About Tom Hester Lorem Ipsum"
>
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="About"
        tagline="Thanks for stopping by. Read below to learn more about myself and my background."
      >
        <img
          width="1553"
          height="873"
          src="/assets/Wedding.jpg"
          alt="Tom Hester at his wedding"
          class="hero-img"
        />
      </Hero>
    </main>
    <div>
      Content about Tom will go here.
    </div>
    <ContactCTA />
  </div>
</BaseLayout>

<style>
  :root {
    --section-gap: 0.5rem;
    --section-title-size: var(--text-xl);
  }

  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  .hero-img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  .section {
    display: flex;
    flex-direction: column;
    gap: var(--section-gap);
    color: var(--gray-200);
  }

  .section-title {
    font-size: var(--section-title-size);
    color: var(--gray-0);
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }
  }
</style>
